@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.section {
    margin-bottom: 3em;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $border;
    border-radius: $border-radius;

    @include media(small) {
        flex-direction: column-reverse;
    }

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        padding: 1em;
    }

    &__right {
        display: flex;
        flex-direction: column;
        gap: 1em;
        flex: 1;
        padding: 1em;
        border-left: 1px solid $border;

        @include media(small) {
            border-left: none;
            border-bottom: 1px solid $border;
            width: 100%;
        }

        &__field {
            display: flex;
            align-items: baseline;
            gap: 0.5em;

            & > p {
                width: 25%;
            }

            & > div {
                width: 75%;
            }

            & > div > input,
            div > input {
                height: auto;
            }

            &__checkbox {
                width: 100%;
            }
        }
    }
}
