@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.leftSidebar {
    position: sticky;
    width: $sidebar-width;
    top: calc($header-height);
    left: $side-padding;
    overflow-y: hidden;
    max-height: calc(100vh - $header-height - 2em);
    padding-right: 2em;
    grid-area: left;
    z-index: 1;

    &:hover {
        overflow-y: auto;
    }

    @include media(small) {
        position: fixed;
        left: -$sidebar-width - 3em;
        height: 100vh;
        z-index: 1;
        top: calc($header-height + 1em);
        transition: left 0.5s;
    }

    &_open {
        left: 0;
        padding: 0em $side-padding;
        width: 100vw;
        background-color: var(--background);
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    }

    &__navigation {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        padding-top: 1.5em;

        &__item {
            padding: 0.5em 0;
            cursor: pointer;

            & > details > summary::marker {
                color: var(--text);
            }
        }

        &__sublist {
            list-style: none;
            margin-left: 0;

            &__item {
                padding: 0.5em 0;
                cursor: pointer;
            }
        }
    }
}
