@import '@/core/styles/media-queries';
@import '@/core/styles/variables';

.input {
    height: 39px;
    padding: 0.5em;
    border: 1px solid var(--border);
    border-radius: var(--border-radius);
    outline: none;

    &:focus-visible {
        outline: none;
        border: 1px solid var(--primary)-hover;
    }

    &:invalid {
        outline: none;
        border: 1px solid #aa1d1d;
    }

    &__label {
        font-weight: 600;
        font-size: 13px;
        color: #000000bf;
        margin-bottom: 0.5em;
    }

    &__error {
        color: #aa1d1d;
        font-size: 13px;
        font-weight: 500;
        margin: 0.5em 0 1em;
    }
}
