@import '@/core/styles/media-queries';

.layout {
    display: flex;
    margin-top: 71px;
    padding: 2em 0px;

    &__header {
        @include media(medium) {
            padding: 0.5em 1em !important;
        }

        @include media(small) {
            padding: 0.5em 1em !important;
        }

        &__inner {
            width: 90%;
            max-width: 90% !important;

            @include media(xlarge) {
                max-width: 1600px !important;
            }

            @include media(medium) {
                max-width: 100% !important;
                width: 100%;
            }

            @include media(small) {
                max-width: 100% !important;
                width: 100%;
            }
        }
    }
}
