@import '@/core/styles/media-queries';

.wrapper {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;

    @include media(small) {
        padding: 24px;
        width: auto;
    }

    @include media(xsmall) {
        padding: 16px;
        max-width: 97vw;
    }
}

.title_hidden {
    visibility: hidden;
    height: 0;
    margin: 0;
}
