@import '@/core/styles/variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    width: 100%;
    margin: auto;
    padding: 24px 0;
    border: 1px solid $border;
    border-left: 0;
    border-right: 0;

    &>a {
        text-decoration: none;
        font-size: 25px;
        color: $text-regular;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__copylink {
        font-size: 25px;
        color: $text-regular;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}