@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.container {
    max-width: 70%;

    @include media(medium) {
        max-width: 80%;
        margin: auto;
    }

    @include media(small) {
        max-width: 90%;
    }

    @include media(xsmall) {
        margin: 0;
        max-width: 100%;
    }

    &__list {
        list-style: none;
        padding-left: 0px;
        line-height: 2;

        & > li {
            display: flex;
            align-items: baseline;
            gap: 10px;
        }
    }
}

.table__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    & > span {
        font-size: 30px;
    }
}

.success {
    color: $success;
}

.info {
    color: $info;
}
