@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    & > header {
        padding-top: 0.8em;
        padding-bottom: 0.5em;
    }
}

.container {
    display: grid;
    grid-template-areas: 'header' 'main' 'footer';
    gap: 3em;
    margin: 0 auto 0;
}

.main {
    margin: 1em auto;
    grid-area: main;
}

.footer {
    margin-top: 5em;

    & > footer {
        background-color: var(--surface);
    }
}
