@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

$header-height: 3em;
$sidebar-width: 10em;
$side-padding: 2em;

.container {
    display: grid;
    grid-template-areas: 'header header header header' 'left main main main' 'footer footer footer footer';
    gap: 2em;
    padding: 0 $side-padding;
    max-width: 1200px;
    margin: $header-height auto 0;

    @include media(xlarge) {
        max-width: 1400px;
    }

    @include media(small) {
        flex-direction: column;
        grid-template-areas: 'header header header header' 'main main main main' 'footer footer footer footer';
    }
}

.main {
    margin: 1em 0 0 auto;
    grid-area: main;

    @include media(small) {
        margin: 1em 0;
        width: 100%;
    }
}
