@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.container {
    display: flex;
    column-gap: 2em;
    margin: 121.8px auto 0;
    max-width: $container-width;

    @include media(xlarge) {
        max-width: $container-width-xl;
    }
}

.main {
    margin: 0 0 auto;
    padding: $top-padding $side-padding * 2;
    width: 79%;

    @include media(small) {
        margin: 0 0;
        width: -webkit-fill-available;
    }
}
