@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    padding-left: $side-padding;
    padding-right: $side-padding;
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 2;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    grid-area: header;
    background-color: var(--primary);

    @include media(small) {
        padding-left: $side-padding-sm;
        padding-right: $side-padding-sm;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $container-width;
        margin: auto;
        height: inherit;

        @include media(xlarge) {
            max-width: $container-width-xl;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 1em;

            &__logo {
                &_mobile {
                    display: none;

                    @include media(small) {
                        display: block;
                    }
                }

                @include media(small) {
                    display: none;
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 1em;

            @include media(small) {
                gap: 0.5em;
            }

            &__menuIcon {
                display: none;

                @include media(small) {
                    display: block;
                    margin-top: 0.5em;
                    margin-left: 1em;
                }
            }

            &__nav {
                margin-left: 3em;
                display: flex;
                gap: 1.5em;

                &__link {
                    color: var(--light);
                    font-weight: bold;
                }
            }
        }
    }
}
