@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    padding-left: $side-padding;
    padding-right: $side-padding;
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    z-index: 3;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    grid-area: header;
    background-color: var(--background);

    @include media(medium) {
        padding-left: 0;
        padding-right: 0;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $lp-container-width;
        margin: auto;
        height: inherit;

        @include media(xlarge) {
            max-width: $lp-container-width;
        }

        @include media(large) {
            max-width: $lp-container-width-medium;
        }

        @include media(medium) {
            max-width: unset;
            width: 90%;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 0.5em;

            &__logo {
                color: var(--text);
                font-weight: 600;
                font-size: 1.3em;
                font-family: monospace;

                &_mobile {
                    color: var(--primary);
                    font-size: 2em;
                }

                @include media(small) {
                    display: none;
                }

                &__version {
                    font-size: 0.7em;
                    color: var(--text-secondary);
                    font-weight: 500;
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 1em;

            @include media(small) {
                gap: 0.5em;
            }

            &__menuIcon {
                display: none;

                @include media(small) {
                    display: block;
                    margin-top: 0.5em;
                    margin-left: 1em;
                }
            }

            &__nav {
                margin-left: 3em;
                display: flex;
                align-items: center;
                gap: 1.5em;

                &__link {
                    color: var(--text);
                    font-weight: 500;
                    font-size: 1em;
                }

                & > div:last-child {
                    @include media(xsmall) {
                        display: none;
                    }
                }
            }
        }
    }
}
