@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    gap: 3em;

    @include media(small) {
        grid-template-columns: 1fr 1fr;
    }

    @include media(xsmall) {
        grid-template-columns: 1fr;
    }

    &__item {
        &_featured {
            grid-row: span 3;
        }

        &_latest {
            grid-row: span 1;
        }
    }
}

.title {
    position: relative;
    display: flex;
    align-items: center;
    color: var(--title);
    margin: 2em 0px 1.2em;
    font-weight: 500;

    & > span {
        background-color: var(--background);
        padding: 0px 1em 0px 0px;
    }

    &__divider {
        position: absolute;
        border-top: 2px solid var(--border-color);
        width: 100%;
        z-index: -1;
    }
}
