@import '@/core/styles/media-queries';

.container {
    width: 90%;
    max-width: 90% !important;
    margin: auto;

    @include media(xlarge) {
        max-width: 1600px !important;
        margin: 0px auto;
    }

    @include media(medium) {
        margin: 0px 1em !important;
        max-width: 100% !important;
        width: 100%;
    }

    @include media(small) {
        margin: 0px 1em;
        max-width: 100% !important;
        width: 100%;
    }
}
