@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.container {
    max-width: calc(100vw - ($side-padding * 2));
}

.pre {
    border-radius: var(--border-radius);
    width: -webkit-fill-available;
    width: -moz-available;
    max-width: -webkit-fill-available;
    max-width: -moz-available;
    display: flex;
    align-items: baseline;
    overflow-x: auto;
    position: relative;
    margin: 0px !important;

    & > code {
        padding: 0.5em 0;
        font-size: 0.7em;
        border: none;
    }

    & > div {
        margin: 0px 1em 0px auto;
        position: absolute;
        top: 1em;
        right: 0px;
    }
}
