@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

$header-height: 3em;
$sidebar-width: 10em;
$side-padding: 2em;

.container {
    display: flex;
    padding: 0 $side-padding;
    margin-top: $header-height;

    @include media(small) {
        flex-direction: column;
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background-color: white;
    z-index: 1;
    padding: 0.5em $side-padding;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        gap: 1em;

        &__menuIcon {
            display: none;

            @include media(small) {
                display: block;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1em;

        & > a {
            background-color: $primary;
            color: white;
            padding: 0.3em;
            display: flex;
            align-items: center;
            border-radius: 50%;

            &:hover {
                background-color: $primary-hover;
            }
        }
    }
}

.main {
    width: 50%;
    max-width: 1200px;
    margin: 3em auto;

    @include media(medium) {
        margin-left: calc($sidebar-width + 4em);
        width: 80%;
    }

    @include media(small) {
        margin: 1.5em 0;
        width: 100%;
    }

    &__section {
        &:not(:first-child) {
            margin: 4em 0;
        }

        &__example {
            &__playground {
                display: flex;
                flex: 1 1;
                gap: 20px;

                @include media(small) {
                    flex-direction: column-reverse;
                }

                & > div:first-child {
                    flex: 1;
                }

                &__form {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    flex: 2;
                    margin: auto;
                    padding: 2em;

                    @include media(medium) {
                        flex: 2;
                    }
                }
            }
        }
    }
}

.properties {
    display: flex;
    align-items: baseline;
    gap: 1em;

    &__list {
        &__item {
            padding: 0.3em 0em;
        }

        &_required {
            color: $success;
            margin: 0em 1em;
            font-size: 0.9em;
        }

        &__code {
            font-size: 1.5em;
            color: $info;
            background-color: #2c73a240;
            border: 1px solid $info;
            border-radius: $border-radius;
            padding: 0.3em 0.5em;
        }
    }

    &__link {
        text-decoration: none;
        color: $primary;
        padding: 0.1em 0.3em;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border: 1px solid $primary;
            border-radius: $border-radius;
        }
    }
}

.list {
    &__item {
        line-height: 2;
    }
}

.link {
    text-decoration: none;
}
