@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.properties {
    display: flex;
    align-items: baseline;
    gap: 1em;

    &__list {
        list-style: none;

        @include media(small) {
            padding-left: 1em;
        }

        &__item {
            padding: 0.3em 0em;
        }

        &_required {
            color: var(--success);
            margin: 0em 1em;
            font-size: 0.9em;
        }
    }

    &__link {
        text-decoration: none;
        color: var(--primary);
        padding: 0.1em 0.3em;
        border: 1px solid transparent;
        cursor: pointer;

        &:hover {
            border: 1px solid var(--primary);
            border-radius: var(--border-radius);
        }
    }
}
