@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header,
.section,
.footer {
    padding-left: $side-padding;
    padding-right: $side-padding;

    @include media(small) {
        padding-left: $side-padding-sm;
        padding-right: $side-padding-sm;
    }
}

.section,
.footer {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.header__inner,
.section__inner,
.footer__inner {
    max-width: $container-width;
    margin: auto;

    @include media(xlarge) {
        max-width: $container-width-xl;
    }
}

.section:first-of-type {
    padding-top: calc($header-height + 3em);
}

.section__example {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid var(--border-color);
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 3px;

    @include media(small) {
        flex-direction: column-reverse;
        height: auto;
    }

    &__code {
        overflow-y: auto;
        max-height: 600px;
        width: 50%;

        @include media(small) {
            width: -webkit-fill-available;
            max-height: auto;
        }

        & > div {
            @include media(small) {
                max-width: 100%;
            }

            & > pre {
                @include media(small) {
                    font-size: x-small;
                }
            }
        }
    }

    & > form {
        width: 50%;
        border: none;
        margin: 0;
        background-color: white;
        border-radius: 0;
        height: -webkit-fill-available;

        @include media(small) {
            width: -webkit-fill-available;
            height: 600px;
        }
    }

    &__heading {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > a {
            padding: 5px 10px 3px;
            border: 1px solid var(--border-color);
            border-bottom: 0;
            margin-bottom: -1px;
            cursor: pointer;
        }
    }
}

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    z-index: 2;
    padding-top: 0.8em;
    padding-bottom: 0.5em;
    grid-area: header;
    background-color: white;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__left {
            display: flex;
            align-items: center;
            gap: 1em;

            &__logo {
                &_mobile {
                    display: none;

                    @include media(small) {
                        display: block;
                    }
                }

                @include media(small) {
                    display: none;
                }
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 1em;

            @include media(small) {
                gap: 0.5em;
            }

            &__menuIcon {
                display: none;

                @include media(small) {
                    display: block;
                    margin-top: 0.5em;
                    margin-left: 1em;
                }
            }

            &__nav {
                margin-left: 3em;
                display: flex;
                gap: 1.5em;

                &__link {
                    color: var(--text);
                    font-weight: bold;
                }
            }
        }
    }
}

.hero {
    padding-top: 1em;

    & > h1 {
        font-size: 5em;

        @include media(small) {
            font-size: var(--heading2);
        }

        @include media(xsmall) {
            font-size: var(--heading3);
        }

        @include media(xxsmall) {
            font-size: var(--heading4);
        }

        & > br {
            @include media(xsmall) {
                display: none;
            }
        }
    }

    &__action {
        display: flex;
        gap: 1em;
        margin: auto;
        align-items: center;
        justify-content: center;
        margin-top: 2em;

        @include media(xsmall) {
            flex-direction: column;
        }

        &__code {
            position: relative;
            min-width: 30%;
            width: fit-content;
            cursor: pointer;

            @include media(xsmall) {
                width: 100%;
            }

            &__tooltip {
                background-color: var(--surface-dark);
                color: white;
                padding: 0.5em 1em;
                border-radius: var(--border-radius);
                position: absolute;
                height: 20px;
                top: -40px;
                right: 0;
                display: none;
            }

            &__inner {
                background-color: var(--surface);
                display: flex;
                align-items: center;
                padding: 1em;
                font-size: large;

                & > span {
                    color: #cb1d63;
                }
            }

            &:hover {
                & > .hero__action__code__tooltip {
                    display: block;
                }
            }
        }

        & > div {
            @include media(xsmall) {
                width: 100%;
            }

            & > button {
                height: 53px;
                width: fit-content;

                @include media(xsmall) {
                    width: 100%;
                    height: 43px;
                }
            }
        }
    }
}

.features {
    background-color: var(--surface-dark);

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;

        @include media(small) {
            flex-direction: column;
        }
    }

    &__card {
        width: 33.33%;
        height: 190px;
        padding: 2px;
        position: relative;
        background: linear-gradient(to left, #e9bbc4, #023e8a);
        border-radius: var(--border-radius);

        @include media(small) {
            width: 50%;
        }

        @include media(xsmall) {
            width: 80%;
        }

        @include media(xxsmall) {
            width: 100%;
            height: auto;
        }

        &__inner {
            padding: 16px;
            background-color: var(--surface);
            height: calc(180px - 4px - 18px);
            background-color: var(--surface-light);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > p {
                height: 100px;

                @include media(xxsmall) {
                    height: auto;
                }
            }

            @include media(xxsmall) {
                height: auto;
            }
        }
    }
}

.docs {
    display: block;

    @include media(xxsmall) {
        display: none;
    }

    &_mobile {
        display: none;

        @include media(xxsmall) {
            display: block;
        }
    }
}

.services {
    display: flex;
    justify-content: center;
    gap: 3em;

    @include media(small) {
        flex-direction: column;
        gap: 0px;
        align-items: start;
    }

    &__list {
        list-style: none;
        padding-left: 0;

        @include media(small) {
            margin: 0;
        }

        & > li {
            display: flex;
            align-items: center;
            margin: 1em 0;
        }

        &__icon {
            background-color: var(--success);
            color: var(--surface-light);
            border-radius: 50%;
            margin-right: 1em;
            font-size: 21px;
        }
    }
}

.cta {
    background-color: var(--primary);

    &__inner {
        text-align: center;
    }
}

.footer {
    background-color: var(--surface-dark);

    &__inner {
        &__navigation {
            display: flex;
            gap: 4em;
            margin-bottom: 3em;
            justify-content: space-between;

            @include media(medium) {
                flex-wrap: wrap-reverse;
                justify-content: space-evenly;
                text-align: center;
            }

            &__item {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                & > a {
                    color: var(--text);
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        &__subscribe__form {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5em;

            & > div {
                @include media(xsmall) {
                    width: 100%;
                }

                & > button {
                    height: 37px;

                    @include media(xsmall) {
                        width: 100%;
                    }
                }
            }

            @include media(xsmall) {
                flex-direction: column;
            }
        }
    }
}
