@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.section {
    padding-left: $side-padding;
    padding-right: $side-padding;

    @include media(medium) {
        padding-left: 0;
        padding-right: 0;
    }
}

.section {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.section__inner {
    max-width: $lp-container-width;
    margin: auto;

    @include media(xlarge) {
        max-width: $lp-container-width;
    }

    @include media(large) {
        max-width: $lp-container-width-medium;
    }

    @include media(medium) {
        max-width: unset;
        width: 90%;
    }
}

.section__example {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #eee;
    height: 600px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 3px;

    @include media(small) {
        flex-direction: column-reverse;
        height: auto;
    }

    &__code {
        max-height: 600px;
        width: 50%;

        @include media(small) {
            width: -webkit-fill-available;
            width: -moz-available;
            max-height: auto;
        }

        & > div {
            @include media(small) {
                max-width: 100%;
            }

            & > pre {
                @include media(small) {
                    font-size: x-small;
                }
            }
        }
    }

    & > form {
        width: 50%;
        border: none;
        margin: 0;
        background-color: white;
        border-radius: 0;
        height: -webkit-fill-available;

        @include media(small) {
            width: -webkit-fill-available;
            width: -moz-available;
            height: 600px;
        }
    }

    &__heading {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > a {
            padding: 5px 10px 3px;
            background-color: var(--primary);
            border-bottom: 0;
            margin-bottom: -1px;
            cursor: pointer;
        }
    }

    &__title > h2:nth-child(2) {
        @include media(small) {
            font-size: var(--heading4);
        }

        @include media(xsmall) {
            font-size: var(--heading4);
        }
    }
}

.hero {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 5em 0 4em;
    overflow-x: hidden;

    @include media(xlarge) {
        height: auto;
        padding: 7em 0;
    }

    @include media(large) {
        padding: 6em 0 4em;
    }

    @include media(smedium) {
        padding: 6em 0 2em;
    }

    @include media(ssmall) {
        padding: 8em 0 2em;
        background-position: top;
        background-size: 120%;
    }

    @include media(small) {
        background-position: top;
        background-size: 170%;
    }

    @include media(xsmall) {
        height: auto;
        padding-top: 7em;
        background-position: bottom;
        background-size: 115%;
    }

    @media only screen and (max-width: 400px) {
        background-position: 0px 400px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        gap: 5em;

        @include media(xlarge) {
            max-width: $lp-container-width;
        }

        @include media(large) {
            max-width: $lp-container-width-medium;
        }

        @include media(medium) {
            max-width: unset;
            width: 90%;
        }

        @include media(ssmall) {
            flex-direction: column;
            gap: 2em;
        }

        &__left {
            flex: 1;
            align-self: center;

            & > h1 {
                font-size: 5em;

                @include media(smedium) {
                    font-size: 4em;
                }

                @include media(ssmall) {
                    font-size: 4em;
                    text-align: center;
                }

                @include media(small) {
                    font-size: var(--heading2);
                }

                @include media(xxsmall) {
                    font-size: var(--heading3);
                }
            }

            & > h2 {
                width: 90%;
                font-weight: normal;

                @include media(ssmall) {
                    text-align: center;
                    width: 60%;
                    margin: auto;
                }

                @include media(xsmall) {
                    width: 80%;
                }
            }
        }

        &__right {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            align-self: center;
            padding-top: $header-height;

            @include media(ssmall) {
                width: 95%;
            }

            @include media(xsmall) {
                width: 100%;
            }

            &__editor {
                background-color: var(--background);
                border: 1px solid var(--surface);
                box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                border-radius: 10px;
                width: 96%;
                height: 500px;
                overflow-y: hidden;
                margin-left: auto;
                position: relative;

                @include media(ssmall) {
                    width: 70%;
                }

                @include media(small) {
                    width: 75%;
                }

                @include media(xsmall) {
                    width: 85%;
                }

                &_front {
                    z-index: 2;
                }

                &__toolbar {
                    background-color: #000000;
                    height: 46px;
                    border-radius: 10px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    display: flex;
                    align-items: center;

                    &__actions {
                        padding-left: 0.6em;
                        flex: 1;

                        & > span {
                            width: 10px;
                            height: 10px;
                            border-radius: 10px;
                            display: inline-block;
                            margin-right: 3px;
                            border: 1px solid var(--surface);
                        }

                        & > span:first-child {
                            background-color: #ff4344;
                        }

                        & > span:nth-child(2) {
                            background-color: #fdb240;
                        }

                        & > span:nth-child(3) {
                            background-color: #65d81e;
                        }
                    }

                    &__middle {
                        height: 25px;
                        border: 1px solid #726f6f;
                        background-color: #1f1f1f;
                        width: 40%;
                        border-radius: 5px;
                        flex: 1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: #afafaf;

                        @include media(xsmall) {
                            flex: 2;
                        }

                        & > span {
                            font-size: 12px;
                            font-weight: 100;

                            @include media(ssmall) {
                                font-size: 9px;
                            }
                        }
                    }

                    & > div:last-child {
                        flex: 1;
                    }
                }

                &__code {
                    max-height: 100%;
                    color: white;
                    width: 100%;
                    overflow-x: hidden;

                    & > pre {
                        font-size: 12px;
                        max-height: 100%;
                        border-radius: 0;
                    }
                }

                &__demo {
                    background-color: var(--background);
                    border: 1px solid var(--surface);
                    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
                    width: 400px;
                    min-height: 313px;
                    position: absolute;
                    top: 50%;
                    transform: translate(-31%, -31%);
                    border-radius: 10px;

                    @include media(smedium) {
                        transform: scale(0.9) translate(-25%, -50%);
                    }

                    @include media(ssmall) {
                        width: 70%;
                        height: 335px;
                        transform: scale(0.9) translate(-29%, -50%);
                    }

                    @media only screen and (max-width: 400px) {
                        height: 433px;
                    }

                    @include media(xsmall) {
                        width: 90%;
                        transform: scale(0.9) translate(-10%, -50%);
                    }

                    &_front {
                        z-index: 2;
                    }
                }
            }
        }

        &__action {
            display: flex;
            gap: 1em;
            margin: auto;
            margin-top: 3em;

            @media screen and (min-width: 960px) and (max-width: 1132px) {
                flex-direction: column;
            }

            @include media(smedium) {
                margin-top: 1em;
            }

            @include media(ssmall) {
                justify-content: center;
                margin-top: 2em;
            }

            @media only screen and (max-width: 460px) {
                flex-direction: column;
            }

            @include media(xxsmall) {
                flex-direction: column;
            }

            &__code {
                position: relative;
                min-width: 35%;
                width: fit-content;
                cursor: pointer;

                @media screen and (min-width: 960px) and (max-width: 1132px) {
                    width: 100%;
                }

                @include media(small) {
                    min-width: 50%;
                }

                @include media(xsmall) {
                    width: 70%;
                }

                @include media(xxsmall) {
                    width: 100%;
                }

                &__tooltip {
                    background-color: var(--primary);
                    color: var(--light);
                    padding: 0.5em 1em;
                    border-radius: var(--border-radius);
                    position: absolute;
                    height: auto;
                    top: -33px;
                    right: 0;
                    display: none;
                    font-size: 0.7em;
                }

                &__inner {
                    display: flex;
                    align-items: center;
                    padding: 1em;
                    font-size: large;
                    border: none;
                    height: 24px;
                    background-color: #f5f6f8;
                    border: 1px solid var(--border-color);
                }

                &:hover {
                    & > .hero__inner__action__code__tooltip {
                        display: block;
                    }
                }
            }

            & > div {
                @media screen and (min-width: 960px) and (max-width: 1132px) {
                    width: 100%;
                }

                @include media(xsmall) {
                    width: auto;
                }

                @media only screen and (max-width: 460px) {
                    width: 100%;
                }

                @include media(xxsmall) {
                    width: 100%;
                }

                & > button {
                    height: 53px;
                    width: fit-content;

                    @media screen and (min-width: 960px) and (max-width: 1132px) {
                        width: 100%;
                    }

                    @media only screen and (max-width: 460px) {
                        width: 100%;
                        height: 43px;
                    }

                    @include media(xxsmall) {
                        width: 100%;
                        height: 43px;
                    }
                }
            }
        }
    }
}

.features {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
        width: 50%;

        @include media(medium) {
            width: 65%;
        }

        @include media(smedium) {
            width: 75%;
        }

        @include media(small) {
            width: 90%;
            gap: 2em;
        }

        @include media(xsmall) {
            grid-template-columns: 1fr;
            gap: 2em;
        }
    }

    &__card {
        padding: 2px;
        position: relative;
        border-radius: var(--border-radius);
        height: 100%;

        @include media(small) {
            width: 100%;
        }

        &__inner {
            padding: 2em;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            display: flex;
            flex-direction: column;
            border-radius: 0.5em;
            box-sizing: border-box;
            height: inherit;

            @include media(xxsmall) {
                height: auto;
            }

            & > p {
                height: 100px;

                @include media(xxsmall) {
                    height: auto;
                }
            }

            & > span {
                color: var(--text);
                font-size: 2em;
                margin-bottom: 1em;
            }
        }
    }
}

.docs {
    display: block;

    @include media(xxsmall) {
        display: none;
    }

    &_mobile {
        display: none;

        @include media(xxsmall) {
            display: block;
        }
    }
}

.services {
    margin-bottom: 3em;
    background-color: var(--lp-layout-background);
    border: 1px solid var(--lp-layout-border);
    border-left: 0;
    border-right: 0;

    @include media(small) {
        flex-direction: column;
        gap: 0px;
        align-items: start;
    }

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex: 1;
        gap: 3em;

        @include media(medium) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(xsmall) {
            grid-template-columns: 1fr;
        }

        &__card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__icon {
                background-color: var(--accent);
                color: var(--surface-light);
                border-radius: 10px;
                font-size: 21px;
                padding: 0.5em;

                @include media(small) {
                    padding: 5px;
                }
            }

            & > div > h2 {
                display: flex;
                align-items: center;
                gap: 0.5em;
            }

            &__link {
                align-self: flex-end;
                margin-top: 1em;
                font-weight: 500;
                text-align: center;
                font-size: var(--body1);
                border-bottom: 2px solid transparent;

                & > span {
                    vertical-align: middle;
                    margin-left: 0.5em;
                    font-weight: 600;
                }

                &:hover {
                    color: var(--text);
                    border-bottom: 2px solid var(--text);
                }
            }
        }
    }

    & > div > h2:nth-child(2) {
        @include media(small) {
            font-size: var(--heading4);
        }

        @include media(xsmall) {
            font-size: var(--heading4);
        }
    }
}

.blog {
    &__outter {
        display: flex;
        background-color: var(--background);
        border-radius: 0.5em;
        padding: 1em;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        width: 80%;
        margin: auto;
        box-sizing: border-box;

        @include media(smedium) {
            width: 100%;
        }

        @include media(xsmall) {
            width: 300px;
            flex-direction: column;
            gap: 2em;
            background-color: unset;
            box-shadow: unset;
        }

        @include media(xxsmall) {
            width: 100%;
        }

        &__action {
            display: block;
            margin: auto;
            text-align: center;
            color: var(--link);
            font-size: var(--body1);
            font-weight: 500;
            margin-top: 3em;
            width: fit-content;
            border-bottom: 2px solid transparent;

            &:hover {
                color: var(--title);
                border-bottom: 2px solid var(--title);
            }
        }
    }

    &__post {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 1em;
        color: inherit;

        @include media(xsmall) {
            background-color: var(--background);
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            border-radius: 0.5em;
        }

        &__divider {
            --border-color: #f6f6f7;
            border-left: 2px solid var(--border-color);
            margin-top: -1em;
            margin-bottom: -1em;
        }

        &__image {
            position: relative;
            width: 100%;
            height: 150px;
            margin-bottom: 1em;

            & > img {
                border-radius: 0.5em;
                object-fit: cover;
            }
        }
    }
}

.cta {
    background-color: var(--lp-layout-background);
    border: 1px solid var(--lp-layout-border);
    border-bottom: 0;

    &__inner {
        text-align: center;
        margin: auto;

        @include media(xsmall) {
            margin: 0 auto 4em;
        }

        & > h2 {
            @include media(small) {
                font-size: var(--heading4);
            }

            @include media(xsmall) {
                font-size: var(--heading4);
                margin-bottom: 2em;
            }
        }
    }
}

.section__footer {
    & > footer {
        border-top: 0;
    }
}
