@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.section,
.footer {
    padding-left: $side-padding;
    padding-right: $side-padding;

    @include media(small) {
        padding-left: $side-padding-sm;
        padding-right: $side-padding-sm;
    }
}

.section,
.footer {
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}

.section__inner,
.footer__inner {
    max-width: $container-width;
    margin: auto;

    @include media(xlarge) {
        max-width: $container-width-xl;
    }
}

.section__example {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #eee;
    height: 600px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 3px;

    @include media(small) {
        flex-direction: column-reverse;
        height: auto;
    }

    &__code {
        overflow-y: auto;
        max-height: 600px;
        width: 50%;

        @include media(small) {
            width: -webkit-fill-available;
            width: -moz-available;
            max-height: auto;
        }

        & > div {
            @include media(small) {
                max-width: 100%;
            }

            & > pre {
                @include media(small) {
                    font-size: x-small;
                }
            }
        }
    }

    & > form {
        width: 50%;
        border: none;
        margin: 0;
        background-color: white;
        border-radius: 0;
        height: -webkit-fill-available;

        @include media(small) {
            width: -webkit-fill-available;
            width: -moz-available;
            height: 600px;
        }
    }

    &__heading {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        & > a {
            padding: 5px 10px 3px;
            background-color: var(--primary);
            border-bottom: 0;
            margin-bottom: -1px;
            cursor: pointer;
        }
    }

    &__title > h2:nth-child(2) {
        @include media(small) {
            font-size: var(--heading4);
        }

        @include media(xsmall) {
            font-size: var(--heading4);
        }
    }
}

.hero {
    background-color: var(--primary);
    height: calc(90vh - $header-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media(xsmall) {
        height: auto;
        padding-top: 7em;
    }

    &__inner {
        & > h1 {
            font-size: 5em;

            @include media(small) {
                font-size: var(--heading2);
            }

            @include media(xxsmall) {
                font-size: var(--heading3);
            }

            & > br {
                @include media(xsmall) {
                    display: none;
                }
            }
        }

        & > h2 {
            width: 70%;
            margin: 2em auto;

            @include media(xsmall) {
                width: 90%;
            }

            @include media(xxsmall) {
                width: 100%;
            }
        }

        &__action {
            display: flex;
            gap: 1em;
            margin: auto;
            align-items: center;
            justify-content: center;
            margin-top: 6em;

            @include media(xsmall) {
                flex-direction: column;
            }

            &__code {
                position: relative;
                min-width: 35%;
                width: fit-content;
                cursor: pointer;

                @include media(small) {
                    min-width: 50%;
                }

                @include media(xsmall) {
                    width: 70%;
                }

                @include media(xxsmall) {
                    width: 100%;
                }

                &__tooltip {
                    background-color: white;
                    color: var(--text);
                    padding: 0.5em 1em;
                    border-radius: var(--border-radius);
                    position: absolute;
                    height: 20px;
                    top: -40px;
                    right: 0;
                    display: none;
                }

                &__inner {
                    background-color: #0f1215;
                    display: flex;
                    align-items: center;
                    padding: 1em;
                    font-size: large;
                    color: var(--light);
                    border: none;
                    height: 25px;

                    & > span {
                        color: var(--accent);
                    }
                }

                &:hover {
                    & > .hero__inner__action__code__tooltip {
                        display: block;
                    }
                }
            }

            & > div {
                @include media(xsmall) {
                    width: 70%;
                }

                @include media(xxsmall) {
                    width: 100%;
                }

                & > button {
                    height: 53px;
                    width: fit-content;
                    background-color: var(--accent);
                    border-color: var(--accent);

                    &:hover {
                        color: var(--text);
                    }

                    @include media(xsmall) {
                        width: 100%;
                        height: 43px;
                    }
                }
            }
        }
    }
}

.features {
    background-color: var(--primary);
    margin-top: -1px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1em;

        @include media(small) {
            flex-direction: column;
            gap: 3em;
        }

        @include media(xsmall) {
            flex-direction: column;
            gap: 4em;
        }
    }

    &__card {
        width: 33.33%;
        height: 190px;
        padding: 2px;
        position: relative;
        background: linear-gradient(to bottom, var(--accent), var(--primary));
        border-radius: var(--border-radius);

        @include media(small) {
            width: 50%;
        }

        @include media(xsmall) {
            width: 80%;
        }

        @include media(xxsmall) {
            width: 100%;
            height: auto;
        }

        &__inner {
            padding: 16px;
            background-color: var(--primary);
            height: calc(180px - 4px - 18px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & > p {
                height: 100px;

                @include media(xxsmall) {
                    height: auto;
                }
            }

            @include media(xxsmall) {
                height: auto;
            }
        }
    }
}

.docs {
    display: block;

    @include media(xxsmall) {
        display: none;
    }

    &_mobile {
        display: none;

        @include media(xxsmall) {
            display: block;
        }
    }
}

.services {
    &__inner {
        margin: 0 auto;
        max-width: 1000px;

        @include media(small) {
            flex-direction: column;
            gap: 0px;
            align-items: start;
        }

        &__cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
            flex: 1;
            margin-top: 5em;

            @include media(small) {
                margin-top: 3em;
                grid-template-columns: 1fr;
            }

            &__card {
                padding: 1.5em;
                border: 1px solid var(--accent);
                border-left: 1em solid var(--accent);
                border-radius: var(--border-radius);

                &__icon {
                    background-color: var(--accent);
                    color: var(--surface-light);
                    border-radius: 10px;
                    font-size: 21px;
                    padding: 0.5em;

                    @include media(small) {
                        padding: 5px;
                    }
                }

                & > h2 {
                    display: flex;
                    align-items: center;
                    gap: 0.5em;
                }

                &:nth-child(even) {
                    border-right: 1em solid var(--accent);
                    border-left: 1px solid var(--accent);
                }
            }
        }

        & > h2:nth-child(2) {
            @include media(small) {
                font-size: var(--heading4);
            }

            @include media(xsmall) {
                font-size: var(--heading4);
            }
        }
    }
}

.cta {
    background-color: var(--primary);

    &__inner {
        text-align: center;

        & > div > button {
            background-color: var(--accent);
            border-color: var(--accent);

            &:hover {
                color: var(--text);
            }
        }

        & > h2 {
            @include media(small) {
                font-size: var(--heading4);
            }

            @include media(xsmall) {
                font-size: var(--heading4);
            }
        }
    }
}

.footer {
    background-color: var(--surface-dark);

    &__inner {
        &__navigation {
            display: flex;
            gap: 4em;
            margin-bottom: 3em;
            justify-content: space-between;

            @include media(medium) {
                flex-wrap: wrap-reverse;
                justify-content: space-evenly;
                text-align: center;
            }

            &__item {
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                & > a {
                    color: var(--text);
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        &__subscribe__form {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5em;

            & > div {
                @include media(xsmall) {
                    width: 100%;
                }

                & > button {
                    height: 37px;

                    @include media(xsmall) {
                        width: 100%;
                    }
                }
            }

            @include media(xsmall) {
                flex-direction: column;
            }
        }
    }
}
