@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.container {
    width: 70%;
    max-width: 70%;

    @include media(medium) {
        margin: auto;
        max-width: 80%;
    }

    @include media(small) {
        max-width: 90%;
    }

    @include media(xsmall) {
        margin: 0;
        max-width: 100%;
    }

    &__list {
        list-style: none;
        padding-left: 0px;
        line-height: 2;

        & > li {
            display: flex;
            align-items: baseline;

            & > :first-child {
                display: flex;
                align-items: baseline;
                gap: 10px;
                font-size: var(--font-medium);
                padding: 0px 3px;
                width: fit-content;
                margin-bottom: 0.3em;

                & > span {
                    font-size: var(--font-large);
                }
            }
        }
    }
}
