@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background-color: var(--background);
    z-index: 2;
    padding: 0.5em $side-padding;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);

    &__left {
        display: flex;
        align-items: center;
        gap: 1em;

        &__logo {
            &_mobile {
                display: none;

                @include media(small) {
                    display: block;
                }
            }

            @include media(small) {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1em;

        @include media(small) {
            gap: 0.5em;
        }

        &__menuIcon {
            display: none;

            @include media(small) {
                display: block;
                margin-left: 1em;
            }
        }

        &__themeButton {
            font-size: 25px;
            margin-left: 1em;
            display: flex;
        }
    }
}
