@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background-color: white;
    z-index: 2;
    padding: 0.5em $side-padding;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        gap: 1em;

        &__logo {
            &_mobile {
                display: none;

                @include media(small) {
                    display: block;
                }
            }

            @include media(small) {
                display: none;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 1em;

        @include media(small) {
            gap: 0.5em;
        }

        &__link {
            background-color: $primary;
            color: white;
            padding: 0.3em;
            display: flex;
            align-items: center;
            border-radius: 50%;

            &:hover {
                background-color: $primary-hover;
            }
        }

        &__menuIcon {
            display: none;

            @include media(small) {
                display: block;
                margin-left: 1em;
            }
        }
    }
}
