@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    height: $header-height;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    background-color: var(--background);
    z-index: 3;
    padding: 0.8em $side-padding 0.5em;
    border-bottom: 1px solid var(--border-color);
    grid-area: header;
    display: flex;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: -webkit-fill-available;
        width: -moz-available;
        max-width: $container-width;
        margin: auto;

        @include media(xlarge) {
            max-width: $container-width-xl;
        }

        &__left {
            display: flex;
            align-items: center;
            gap: 1em;

            &__logo {
                &_mobile {
                    display: none;

                    @include media(xsmall) {
                        display: block;
                    }
                }

                @include media(xsmall) {
                    display: none;
                }
            }

            & > a {
                display: flex;
            }
        }

        &__right {
            display: flex;
            align-items: center;
            gap: 0.7em;

            &__menuIcon {
                display: none;

                @include media(small) {
                    display: block;
                }
            }

            &__btn_link {
                border: 0;
                background: none;
                cursor: pointer;
                padding: 0;
            }

            &__link {
                font-size: 1.2em;
                display: flex !important;
                color: var(--primary) !important;
                border: 1px solid var(--primary);
                border-radius: var(--border-radius);
                width: 25px;
                height: 25px;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: var(--border-color);
                }

                &_text {
                    color: var(--text) !important;
                    font-weight: 600;
                    font-size: 0.9em;

                    &:hover {
                        color: var(--primary-hover) !important;
                    }
                }
            }
        }
    }
}
