@import '@/core/styles/variables';

.section {
    margin: 4em 0;

    &_noMargin {
        margin: 0;
    }

    &__title {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;

        & > span {
            margin-bottom: 0.8em;
        }
    }
}
