@import '@/core/styles/variables';

.property {
    font-size: 1.2em;
    color: $info;
    background-color: #2c73a20f;
    border: 1px solid $info;
    border-radius: $border-radius;
    padding: 0.3em 0.5em;
}
