@import '@/core/styles/variables';

.footer {
    background-color: var(--background);
    height: $footer-height;
    grid-area: footer;
    border-top: 1px dashed var(--border-color);
    z-index: 2;
    position: relative;

    &__link {
        background-color: var(--primary);
        color: var(--light);
        padding: 0.3em;
        display: flex;
        align-items: center;
        border-radius: 50%;

        &:hover {
            background-color: var(--primary-hover);
            color: var(--light) !important;
        }
    }
}
