@import '@/core/styles/variables';

.footer {
    height: $footer-height;
    grid-area: footer;
    background-color: var(--lp-layout-background);
    border: 1px solid var(--lp-layout-border);
    border-top: 0;
    z-index: 2;
    position: relative;
    padding: 0 $side-padding;

    &__link {
        background-color: var(--primary);
        color: var(--light);
        padding: 0.3em;
        display: flex;
        align-items: center;
        border-radius: 50%;

        &:hover {
            background-color: var(--primary-hover);
            color: var(--light) !important;
        }
    }
}
