$primary: #131a26;
$secondary: #131a26;
$secondary-light: #f6c391;
$green: #c7d5d6;
$primary-hover: #131a26;

$footer: #131a26;

$border: #d4d4d4;
$fields-border: #d4d4d4;
$border-radius: 5px;
$box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

$text-regular: #000000;
$text-secondary: #000000;
$link: $primary;

$text-xxsmall: 12px;
$text-xsmall: 14px;
$text-small: 16px;
$text-medium: 18px;
$text-large: 22px;
$text-xlarge: 40px;

$background: #1A1A2E;