$header-height: 3em;
$sidebar-width: 10em;
$side-padding: 2em;
$side-padding-sm: 1.5em;
$footer-height: 3.5em;
$container-width: 800px;
$container-width-xl: 900px;

$lp-container-width: 1200px;
$lp-container-width-medium: 1100px;
$lp-container-width-smedium: 850px;
$lp-container-width-xl: 1600px;

$purple: #8c62d4;
