$header-height: 70px;
$breadcrumb-height: 50px;
$sidebar-width: 21%;
$side-padding: 2em;
$side-padding-sm: 1.5em;
$footer-height: 3.5em;
$container-width: 1300px;
$container-width-xl: 1300px;

$lp-container-width: 1600px;
$lp-container-width-medium: 1100px;
$lp-container-width-smedium: 850px;
$lp-container-width-xl: 1600px;

$purple: #8c62d4;

$top-padding: 1.5em;
