:root {
    --max-width: 1100px;
    --accent: #6c757d;
    --accent-hover: #5a6268;
    --error: #bf6666;
    --link: #0b60b0;
    --link-hover: #40a2d8;
    --success: #75a47f;

    --success-light: #75a47f47;
    --accent-light: #d19d4230;

    --lp-layout-background: #fafafb;
    --lp-layout-border: #e8e9e9;
}

a {
    text-decoration: none;
    color: var(--link);
}

code {
    background-color: #f5f5f7;
    padding: 3px 3px;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 500;
    color: #404756;
    border: 1px solid var(--border-color);
}

.CoreLabUI__field--error {
    border: 1px solid var(--error);
}

.CoreLabUI__field-root--error > .CoreLabUI__field__helper-text {
    color: var(--error);
}

.CoreLabUI__body1,
.CoreLabUI__btn {
    font-weight: 400;
}

.CoreLabUI__btn--large {
    padding: 0 2em;
}

b,
strong {
    font-weight: 600;
}

.FormFusion {
    --border-color: inherit !important;
    --text: inherit !important;
    --text-secondary: inherit !important;
}

.hidden {
    visibility: hidden;
    font-size: 0px;
}
