:root {
    --max-width: 1100px;
    --accent: #d19d42;
    --error: #c22513;
    --link: #0b60b0;
    --link-hover: #40a2d8;
    --success: #75a47f;

    --success-light: #75a47f47;
    --accent-light: #d19d4230;
}

a {
    text-decoration: none;
    color: var(--link);
}

code {
    background-color: #00000014;
    padding: 3px 3px;
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--text);
    border: 1px solid var(--border-color);
}

.CoreLabUI__field--error {
    border: 1px solid var(--error);
}

.CoreLabUI__field-root--error > .CoreLabUI__field__helper-text {
    color: var(--error);
}

.CoreLabUI__body1,
.CoreLabUI__btn {
    font-weight: 400;
}

b,
strong {
    font-weight: 600;
}

.FormFusion {
    --border-color: inherit !important;
    --text: inherit !important;
    --text-secondary: inherit !important;
}
