@import '@/core/styles/media-queries';
@import '@/core/styles/variables';

.table {
    min-height: 600px;

    & > thead > tr > th:nth-child(2) {
        @include media(xsmall) {
            display: none;
        }
    }

    & > tbody > tr > td {
        vertical-align: baseline;

        @include media(xsmall) {
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
    }
}
