@import '@/core/styles/media-queries';
@import '@/core/styles/variables';

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
    margin: 1em auto 0;
    padding: 2em;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);

    & > button {
        color: white;
        background-color: var(--primary);
        border: 1px solid transparent;
        padding: 10px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        height: 45px;
    }

    & > h5 {
        margin-top: 0;
    }
}
