.link {
    color: var(--link);
    display: inline-flex;
    align-items: center;

    &:hover {
        color: var(--link-hover);
    }

    &_noColor {
        color: inherit;
        display: inline-flex;
        align-items: center;

        &:hover {
            color: inherit;
        }

        & > span {
            font-size: 20px;
        }
    }
}
