@import '@/core/styles/variables';

.link {
    color: $primary;

    &:hover {
        color: $primary-hover;
    }

    &_noColor {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }
}
