@import '@/core/styles/variables';
@import '@/core/styles/media-queries';

.header {
    background-color: var(--post-background-color);
    max-width: 100vw;
    width: calc(100vw - 5px);

    &__inner {
        display: flex;
        gap: 2em;
        padding: 4em $side-padding;
        margin: auto;
        justify-content: space-between;

        max-width: 800px;
        margin-left: auto !important;
        margin-right: auto !important;

        @include media(small) {
            max-width: calc(100vw - 2em);
            padding: 3em $side-padding;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;

        & > h1,
        p,
        span,
        a {
            color: var(--post-content-color) !important;
        }
    }

    &__right {
        & > img {
            position: unset !important;
            width: 250px !important;
            height: auto;
            object-fit: contain;
        }

        @include media(small) {
            display: none;
        }
    }
}

.details__outter {
    display: block;
    margin-top: 2em;
    padding: 0em $side-padding;
    max-width: calc(100vw - $side-padding - $side-padding - 8px);

    & > h4 {
        max-width: 1600px;
        margin: auto;
    }

    &__social {
        position: fixed;
        right: 0px;
        top: $header-height;
        margin: 2em 0;
        padding: 2em;

        @include media(medium) {
            position: unset;
            margin: 0;
        }

        &__icons {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 1em;

            @include media(medium) {
                flex-direction: row;
                justify-content: center;
            }

            &__link {
                display: block;
                cursor: pointer;
                padding: 0.45em;
                border-radius: 50%;
                font-size: 1em;
                border: none;
                width: 34.8px;
                height: 34.8px;
                background-color: var(--surface);
                color: var(--text);

                &:hover {
                    color: var(--accent);
                }
            }

            & > a {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--surface);
                color: var(--text);
                font-size: 1.4em;
                width: 34.8px;
                height: 34.8px;
                border-radius: 50%;

                &:hover {
                    color: var(--accent);
                }
            }

            & > a:nth-child(3) {
                font-size: 1em;
            }
        }
    }

    &__suggested {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3em;

        @include media(xlarge) {
            max-width: 1600px;
            margin: auto;
        }

        @include media(small) {
            grid-template-columns: 1fr 1fr;
        }

        @include media(xsmall) {
            grid-template-columns: 1fr;
        }

        &__item {
            grid-row: span 1;

            &:last-of-type {
                @include media(small) {
                    display: none;
                }

                @include media(xsmall) {
                    display: block;
                }
            }
        }
    }
}

.title {
    @include media(xsmall) {
        font-size: var(--heading4);
        margin-bottom: 1em;
    }
}

.tags {
    display: flex;
    gap: 1em;
    padding-bottom: 1em;

    &__tag {
        color: var(--success);
        font-weight: 600;
    }
}

.date {
    color: var(--title) !important;
}

.details {
    & table {
        width: 100%;
    }

    & img:not(:first-child) {
        height: auto;
        object-fit: contain;
    }

    & img[data-hide='true'] {
        display: none !important;
    }

    & > div:first-child {
        margin-bottom: 1em;
    }

    &
        :not(pre):not(code):not(pre *):not(code *):not(a):not(img):not(h2):not(
            h3
        ):not(div:first-child) {
        background-color: inherit !important;
        color: inherit !important;
        word-break: break-word;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & a {
        color: var(--info) !important;

        &:hover {
            text-decoration: underline;
        }
    }

    & pre {
        margin: 1em auto !important;
        padding: 1.5em 0em !important;
        border-radius: 3px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & blockquote {
        max-width: 800px;
        margin-left: auto !important;
        margin-right: auto !important;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & code {
        padding: 0;
        font-size: 0.7em;
        border: none;
    }

    & h2 {
        font-size: var(--heading4);
        color: var(--title);
        background-color: inherit !important;
        word-break: break-word;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }

        @include media(xsmall) {
            font-size: var(--heading5);
        }
    }

    & h3 {
        color: var(--title);
        font-size: var(--heading6);
        background-color: inherit !important;
        word-break: break-word;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & h4 {
        color: var(--title);
        font-size: var(--subtitle1);
        background-color: inherit !important;
        word-break: break-word;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & h5 {
        color: var(--title);
        font-size: var(--subtitle2);
        background-color: inherit !important;
        word-break: break-word;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-weight: 500;

        @include media(small) {
            max-width: calc(100vw - 2em);
        }
    }

    & p,
    div,
    ul,
    li {
        font-weight: normal;
    }

    & b {
        font-weight: 600;
    }
}

.author {
    display: flex;
    gap: 0.6em;
    align-items: center;
    margin-top: auto;

    @include media(xsmall) {
        align-items: flex-end;
    }

    @media only screen and (max-width: 360px) {
        font-size: 11px;
    }

    &__image {
        border-radius: 50%;
        border: 1px solid var(--accent);
    }

    &__divider {
        color: var(--text);

        @include media(xsmall) {
            display: none;
        }
    }

    &__date {
        font-weight: 100;

        &_mobile {
            display: none;
            font-weight: 100;

            @include media(xsmall) {
                display: block;
            }

            @media only screen and (max-width: 360px) {
                font-size: 11px;
            }
        }

        @include media(xsmall) {
            display: none;
        }
    }

    &__reading_time {
        font-weight: 100;

        @include media(xsmall) {
            margin-left: auto;
        }

        @media only screen and (max-width: 360px) {
            font-size: 11px;
        }
    }
}

.breadcrumbs {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-bottom: 1.2em;

    & > a {
        color: var(--text-secondary);
        font-size: var(--caption);
        font-weight: 500;

        &:hover {
            color: var(--text);
        }
    }

    &__divider {
        color: var(--text);
    }
}

.image {
    width: 300px;
    height: auto;
}
